In [1]:
from skyfield.api import load, EarthSatellite
import pandas as pd
import requests
from io import StringIO


url = "https://celestrak.org/NORAD/elements/gp.php?GROUP=starlink&FORMAT=tle"
tle_text = requests.get(url).text

satellites = []
lines = tle_text.strip().splitlines()

for i in range(0, len(lines), 3):
    try:
        name = lines[i].strip()
        line1 = lines[i+1].strip()
        line2 = lines[i+2].strip()
        sat = EarthSatellite(line1, line2, name)

        el = sat.model
        satellites.append({
            "Satellite_Name": name,
            "Epoch": sat.epoch.utc_strftime("%Y-%m-%d %H:%M:%S"),
            "Inclination_deg": el.inclo * (180/3.14159),
            "RAAN_deg": el.nodeo * (180/3.14159),
            "Eccentricity": el.ecco,
            "Argument_of_Perigee_deg": el.argpo * (180/3.14159),
            "Mean_Anomaly_deg": el.mo * (180/3.14159),
            "Mean_Motion_rev_per_day": el.no_kozai * (86400/(2*3.14159)),
            "Semi_Major_Axis_km": el.a * 6378.137,
        })
    except:
     
        continue


df = pd.DataFrame(satellites)
df["Orbital_Period_min"] = 1440 / df["Mean_Motion_rev_per_day"]

df.to_csv("starlink_tle_dataset.csv", index=False)
print(f"Extracted {len(df)} satellites")
df.head()

Extracted 8147 satellites

,Satellite_Name,Epoch,Inclination_deg,RAAN_deg,Eccentricity,Argument_of_Perigee_deg,Mean_Anomaly_deg,Mean_Motion_rev_per_day,Semi_Major_Axis_km,Orbital_Period_min
0,STARLINK-1008,2025-08-27 13:46:23,53.056645,338.042586,0.000101,87.023974,273.086731,903.851952,6925.561792,1.593181
1,STARLINK-1010,2025-08-27 22:00:02,53.052045,297.375951,0.001228,328.432577,119.007101,943.304479,6731.104067,1.526548
2,STARLINK-1011,2025-08-27 22:00:02,53.055145,349.337095,0.000295,326.623276,111.797794,936.959172,6761.456630,1.536887
3,STARLINK-1012,2025-08-27 13:14:34,53.056245,338.142386,0.000125,85.406272,274.707232,903.847291,6925.585662,1.593189
4,STARLINK-1013,2025-08-27 13:40:41,53.039345,279.299136,0.000700,358.018502,2.082502,969.037299,6611.419189,1.486011

In [2]:
import pandas as pd
from IPython.display import FileLink

# ---- Save as CSV ----
csv_file = "starlink_tle_dataset.csv"
df.to_csv(csv_file, index=False)

# ---- Save as Excel ----
excel_file = "starlink_tle_dataset.xlsx"
df.to_excel(excel_file, index=False)

# ---- Show download links ----
print("Download your files here ðŸ‘‡")
display(FileLink(csv_file))
display(FileLink(excel_file))

Download your files here ðŸ‘‡

C:\Users\DELL\starlink_tle_dataset.csv

C:\Users\DELL\starlink_tle_dataset.xlsx